@model EliteTrading.Entities.RareTrade

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ContentContainer">
    <h2>@ViewBag.Title</h2>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RareTrade</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.StationId, "StationId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("StationId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StationId, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.Label("StationId", "Start Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Hidden("StationId")
                    <input type="text" id="StationName" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Buy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Buy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Buy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var stationMapped = {};
        var stationLabels = [];

        $.ajax({
            url: '/api/EliteTradingTool/Stations',
            type: 'GET',
            data: { marketsOnly: true },
            success: function (data) {
                $.each(data, function (i, item) {
                    stationMapped[item.System + " (" + item.Station + ")"] = item;
                    stationLabels.push(item.System + " (" + item.Station + ")");
                });

                $('#StationName').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                }, {
                    name: 'systemList',
                    displayKey: 'value',
                    source: substringMatcher(stationLabels)
                }).bind('typeahead:selected', function (obj, datum) {
                    var selected = stationMapped[datum.value];
                    $("#StationId").val(selected.StationId);
                }).bind('typeahead:autocompleted', function (obj, datum) {
                    var selected = stationMapped[datum.value];
                    $("#StationId").val(selected.StationId);
                });

            },
            error: function (data) {
                alert(d.responseText);
            }
        });
});
</script>
    }
